<nb-card>
  <nb-card-header>
    <span class="d-inline-block bold" translate>Service management</span>
    <button nbButton size="small" status="primary" class="float-right" (click)="editDialog.open('add')">
      <span translate>Add</span>
      <nb-icon icon="plus-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="row mt-3">
      <div class="col-md-4">
        <label for="serviceCode" translate>Service code</label>
        <input type="text" nbInput fullWidth [(ngModel)]="filter.serviceCode" />
      </div>
      <div class="col-md-4">
        <label for="url" translate>URL</label>
        <input type="text" nbInput fullWidth [(ngModel)]="filter.url" />
      </div>
      <div class="col-md-4">
        <label for="method" translate>Method</label>
        <ngx-service-method-select
          class="w-100"
          [(methodValue)]="filter.method"
          (onMethodValueChange)="filter.method = $event"
        ></ngx-service-method-select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <label for="serviceType" translate>Service type</label>
        <ngx-service-type-select
          class="w-100"
          [(typeValue)]="filter.type"
          (onTypeValueChange)="filter.type = $event"
        ></ngx-service-type-select>
      </div>
      <div class="col-md-4">
        <label for="status" translate>Status</label>
        <ng-select
          [items]="[
            { label: 'Active' | translate, value: 1 },
            { label: 'Inactive' | translate, value: 0 }
          ]"
          bindLabel="label"
          bindValue="value"
          [placeholder]="'Select status' | translate"
          [(ngModel)]="filter.status"
        ></ng-select>
      </div>
      <div class="col-md-4">
        <label for="project" translate>Project</label>
        <ngx-service-project-select
          class="w-100"
          [(projectValue)]="filter.project"
          (onProjectValueChange)="filter.project = $event"
        ></ngx-service-project-select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 text-center">
        <button nbButton status="primary" class="fright" translate (click)="search()">
          Search
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    <span class="bold" translate>Search result</span>
  </nb-card-header>
  <nb-card-body>
    <ngx-custom-bootstrap-table clazz="table">
      <thead>
        <th class="px-3" translate>No.</th>
        <th translate>Actions</th>
        <th translate>Service code</th>
        <th translate>URL</th>
        <th translate>Project</th>
        <th translate>Request template</th>
        <th translate>Service type</th>
        <th class="px-3" translate>Method</th>
        <th class="px-3" translate>Status</th>
        <th translate>Update user</th>
        <th translate>Update time</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of services; let i = index">
          <td>
            {{ pageSize * (page - 1) + i + 1 }}
          </td>
          <td class="px-0">
            <nb-icon
              icon="edit-outline"
              status="primary"
              class="mr-2 action-btn"
              (click)="editDialog.open('edit', item)"
            ></nb-icon>
            <nb-icon
              icon="trash-outline"
              status="danger"
              class="action-btn"
              (click)="confirmDelete.open(item)"
            ></nb-icon>
          </td>
          <td style="width: 150px; word-break: break-all;" class="text-left">
            {{ item.serviceCode }}
          </td>
          <td style="width: 150px; word-break: break-all;" class="text-left">
            {{ item.url }}
          </td>
          <td>
            {{ item.project }}
          </td>
          <td style="width: 150px; word-break: break-all;" class="text-left" [title]="item.request">
            {{ item.request | truncate: 50 }}
          </td>
          <td>
            {{ item.type }}
          </td>
          <td>
            {{ item.method }}
          </td>
          <td>
            {{ (item.status === 1 ? 'Active' : 'Inactive') | translate }}
          </td>
          <td>
            {{ item.updateUser }}
          </td>
          <td>
            {{ item.updateTime | date: 'dd/MM/yyyy HH:mm:ss' }}
          </td>
        </tr>
        <tr *ngIf="services.length === 0">
          <td class="text-center text-muted" colspan="11">
            <span translate>No data</span>
          </td>
        </tr>
      </tbody>
    </ngx-custom-bootstrap-table>
    <div *ngIf="services.length > 0" class="row justify-content-md-between align-items-md-center mt-2">
      <div class="col-sm-12 col-md-5">
        <div class="text-md-left float-md-left">
          <ngb-pagination
            #pagin
            [collectionSize]="total"
            [(page)]="page"
            [pageSize]="pageSize"
            [maxSize]="5"
            class="custom-paging"
            [boundaryLinks]="true"
            (pageChange)="handlePageChange($event)"
          >
            <ng-template ngbPaginationFirst>
              <nb-icon outline icon="arrowhead-left-outline"></nb-icon>
            </ng-template>
            <ng-template ngbPaginationLast>
              <nb-icon outline icon="arrowhead-right-outline"></nb-icon>
            </ng-template>
            <ng-template ngbPaginationPrevious>
              <nb-icon outline icon="arrow-ios-back-outline"></nb-icon>
            </ng-template>
            <ng-template ngbPaginationNext>
              <nb-icon outline icon="arrow-ios-forward-outline"></nb-icon>
            </ng-template>
          </ngb-pagination>
        </div>
      </div>
      <div class="col-sm-12 col-md-5 text-right">
        <nb-select class="mr-3" size="small" [ngModel]="pageSize" (ngModelChange)="handlePageSizeChange($event)">
          <nb-option [value]="ps" *ngFor="let ps of allowedPageSizes">{{ ps }}</nb-option>
        </nb-select>
        <!-- <select
          name="tickets-table_length"
          aria-controls="tickets-table"
          name="pageSize"
          [ngModel]="pageSize"
          class="d-inline-block custom-select custom-select-sm form-control form-control-sm mx-2"
          style="width: 65px;"
          (ngModelChange)="handlePageSizeChange($event)"
        >
          <option [ngValue]="ps" *ngFor="let ps of allowedPageSizes">{{ ps }}</option>
        </select> -->
        <div
          class="dataTables_info mb-2 d-inline-block"
          id="tickets-table_info"
          role="status"
          aria-live="polite"
          translate
          [translateParams]="{
            startIndex: startIndex,
            endIndex: endIndex,
            total: total
          }"
        >
          Showing $startIndex - $endIndex of $total
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<ngx-service-edit #editDialog (onSuccess)="fetch()"></ngx-service-edit>

<ngx-confirmation-dialog-box
  #confirmDelete
  [message]="'Are you sure to delete this record?' | translate"
  [okText]="'YES' | translate"
  [cancelText]="'NO' | translate"
  (onOk)="deleteService($event)"
  type="danger"
></ngx-confirmation-dialog-box>
