nb-card {
  max-height: 600px;
  max-width: 95vw;
  overflow: auto;
}

#add-mapping {
  cursor: pointer;
}

.mapping-actions {
  cursor: pointer;
  font-size: 1.5rem;
}

nb-icon {
  cursor: pointer;
}
