<nb-card>
  <nb-card-header>
    <span class="d-inline-block bold" translate>Logs management</span>
  </nb-card-header>
  <nb-card-body>
    <div class="row mt-3">
      <div class="col-md-4">
        <label class="required" for="fromDate" translate>From date</label>
        <input nbInput fullWidth [nbDatepicker]="fromDatePicker" [formControl]="fromDateCtrl" />
        <div *ngIf="fromDateCtrl.errors" class="invalid-feedback d-block">
          <div *ngIf="fromDateCtrl.errors.required" translate>
            From date is required
          </div>
          <div *ngIf="fromDateCtrl.errors.maxValue" translate>
            From date must be less than to date
          </div>
        </div>
        <nb-datepicker format="dd/MM/yyyy" #fromDatePicker></nb-datepicker>
      </div>
      <div class="col-md-4">
        <label class="required" for="toDate" translate>To date</label>
        <input nbInput fullWidth [nbDatepicker]="toDatePicker" [formControl]="toDateCtrl" />
        <div *ngIf="toDateCtrl.errors" class="invalid-feedback d-block">
          <div *ngIf="toDateCtrl.errors.required" translate>
            To date is required
          </div>
          <div *ngIf="toDateCtrl.errors.minValue" translate>
            To date must be greater than from date
          </div>
        </div>
        <nb-datepicker format="dd/MM/yyyy" #toDatePicker></nb-datepicker>
      </div>
      <div class="col-md-4">
        <label for="username" translate>User</label>
        <input type="text" nbInput fullWidth [(ngModel)]="userName" (keydown.enter)="search()" />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 text-center">
        <button [disabled]="formInvalid" class="mr-3" nbButton status="primary" translate (click)="search()">
          Search
        </button>
        <button [disabled]="formInvalid" nbButton status="primary" translate (click)="export()">
          Export file
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    <span class="bold" translate>Search result</span>
  </nb-card-header>
  <nb-card-body>
    <ngx-custom-bootstrap-table clazz="table table-sm">
      <thead>
        <th class="px-3" translate>No.</th>
        <th translate>User</th>
        <th translate class="text-left">Content</th>
        <th translate>UserId</th>
        <th translate>Token</th>
        <th translate>Mobile</th>
        <th translate>Question/Answer</th>
        <th translate>Time</th>
        <th translate>Type</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of logChats; let i = index">
          <td>
            {{ pageSize * (page - 1) + i + 1 }}
          </td>
          <td style="width: 200px; word-break: break-word;">
            {{ item.userName }}
          </td>
          <td class="text-left" style="width: 300px; word-break: break-word;" [title]="item.content">
            {{ item.content | truncate: 50 }}
          </td>
          <td style="width: 200px; word-break: break-all;">
            <a href="javascript:void(0);" (click)="logDetail.open(item.userId, item.userName, item.createdDate)">
              {{ item.userId }}
            </a>
          </td>
          <td style="width: 150px; word-break: break-all;">
            {{ item.token }}
          </td>
          <td>
            {{ item.msisdn }}
          </td>
          <td>
            {{ (item.isQuestion ? 'Question' : 'Answer') | translate }}
          </td>
          <td>
            {{ item.createdDate | date: 'dd/MM/yyyy HH:mm:ss' }}
          </td>
          <td>
            {{ item.actionType }}
          </td>
        </tr>
        <tr *ngIf="logChats.length === 0">
          <td class="text-center text-muted" colspan="11">
            <span translate>No data</span>
          </td>
        </tr>
      </tbody>
    </ngx-custom-bootstrap-table>
    <div *ngIf="logChats.length > 0" class="row justify-content-md-between align-items-md-center mt-2">
      <div class="col-sm-12 col-md-5">
        <div class="text-md-left float-md-left">
          <ngb-pagination
            #pagin
            [collectionSize]="total"
            [(page)]="page"
            class="custom-paging"
            [pageSize]="pageSize"
            [maxSize]="5"
            [boundaryLinks]="true"
            (pageChange)="handlePageChange($event)"
          >
            <ng-template ngbPaginationFirst>
              <nb-icon outline icon="arrowhead-left-outline"></nb-icon>
            </ng-template>
            <ng-template ngbPaginationLast>
              <nb-icon outline icon="arrowhead-right-outline"></nb-icon>
            </ng-template>
            <ng-template ngbPaginationPrevious>
              <nb-icon outline icon="arrow-ios-back-outline"></nb-icon>
            </ng-template>
            <ng-template ngbPaginationNext>
              <nb-icon outline icon="arrow-ios-forward-outline"></nb-icon>
            </ng-template>
          </ngb-pagination>
        </div>
      </div>
      <div class="col-sm-12 col-md-5 text-right">
        <nb-select class="mr-3" size="small" [ngModel]="pageSize" (ngModelChange)="handlePageSizeChange($event)">
          <nb-option [value]="ps" *ngFor="let ps of allowedPageSizes">{{ ps }}</nb-option>
        </nb-select>
        <div
          class="dataTables_info mb-2 d-inline-block"
          id="tickets-table_info"
          role="status"
          aria-live="polite"
          translate
          [translateParams]="{
            startIndex: startIndex,
            endIndex: endIndex,
            total: total
          }"
        >
          Showing $startIndex - $endIndex of $total
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<ngx-log-chat-detail #logDetail></ngx-log-chat-detail>
